@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

body {
	font-family: 'Nunito', sans-serif;
	-webkit-font-smoothing: antialiased;
}

.text-indent {
	text-indent: 2rem;
}

/* Timeline dots */
ul .bullet {
	padding-bottom: 2.5em;
	position: relative;
	list-style: none;
}

ul .bullet:before{
	/*content: url('assets/whitedot.png');*/
	position: absolute;
	left: -27px;
	content: "";
	display: inline-block;
	width: 20px;
	height: 20px;
	background: url('assets/whitedot.png');
	background-size: 100%;
}

ul .bullet-file:before{
	left: -22px;
	top: 1px;
	width: 10px;
	height: 10px;
}
/* Mission Statement BlockQuoting */
.quote {
	font-family: 'Lobster', sans-serif;
	font-size: 150px;
	margin-left: -1rem;
	margin-bottom: -8rem;
	margin-top: -4rem;
}

/* Hamburger Menu */

.header {
	will-change: transform;
	transition: transform 1.75s ease-in-out;
}

.header-unpin {
	transform: translateY(-130px);
}

.header-pin {
	transform: translateY(0);
}

  /* Hamburger */
.hamburger {
	height: 5px;
	top: 50%;
	left: 50%;
	border-radius: 50px;
	background-color: black;
	transform: translate(-50%, -50%) rotate(0deg);
	transition: all ease 0.5s;
}

.hamburger::before,
.hamburger::after {
	content: "";
	position: absolute;
	height: inherit;
	border-radius: inherit;
	background-color: inherit;
	margin: auto;
	width: 50%;
	transition: all ease 0.5s;
}

.hamburger::before {
	top: -10px;
	left: 0;
	transform-origin: left;
}

.hamburger::after {
	bottom: -10px;
	right: 0;
	transform-origin: right;
}

.hamburger-open {
	transform: translate(-50%, -50%) rotate(135deg);
}

.hamburger-open::before {
	top: 0;
	transform: translateX(100%) rotate(-90deg);
}

.hamburger-open::after {
	bottom: 0;
	transform: translateX(-100%) rotate(-90deg);
}



/* navigation buttons */

.arrow-right:before, .arrow-left:before {
  /*@apply absolute w-5 h-5 block border-t-4 border-r-4 border-solid border-white rounded;*/
  content: "";
  display: block;  
	width: 20px;
	height: 20px;
	border-top: 4px solid white;
	border-right: 4px solid white;
  border-radius: 4px;
  position: absolute;
}

.arrow-left:after, .arrow-right:after {
  /*@apply absolute w-10 h-1 block bg-white;*/
	content: "";
	display: block;
	position: absolute;
	width: 12%;
	height: 5px;
	background-color: white;
}

.arrow-right:before {
/*  @apply rotate-45 right-0;*/
	transform: rotate(45deg);
	right: 26px;
}
.arrow-right:after {
/*  @apply right-0;*/
	right: 26px;
}
  
.arrow-left:before {
/* @apply left-0 -rotate-45;*/
	left: 26px;
	transform: rotate(225deg);
}

.arrow-left:after {
/*  @apply left-0;*/
	left: 26px;
}

@media (min-width: 768px) {  
  .arrow-right:after, .arrow-left:after {
    /*@apply w-6;*/
    width: 8%;
  }
}

/* personalized meter */

.inline-list-disc {
	display: inline flow-root list-item !important;
}

meter {
	width: 100%;
	position: absolute;
}

.styled meter {
	width: 90%;
	height: 5px;

	/* For Firefox */
	background: #EEE;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	border-radius: 3px;
}

/* WebKit */
.styled meter::-webkit-meter-bar {
	background: #EEE;
	box-shadow: 0 2px 3px rgba(0,0,0,0.2) inset;
	border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value,
.styled meter::-webkit-meter-suboptimum-value,
.styled meter::-webkit-meter-even-less-good-value {
	border-radius: 3px;
}

.styled meter::-webkit-meter-optimum-value {
	background: #86CC00;
}

.styled meter::-webkit-meter-suboptimum-value {
	background: #FFDB1A;
}

.styled meter::-webkit-meter-even-less-good-value  {
	background: #CC4600;
}


/* Firefox */
.styled meter::-moz-meter-bar {
	border-radius: 3px;
}

.styled meter:-moz-meter-optimum::-moz-meter-bar {
	background: #86CC00;
}

.styled meter:-moz-meter-sub-optimum::-moz-meter-bar {
	background: #FFDB1A;
}

.styled meter:-moz-meter-sub-sub-optimum::-moz-meter-bar {
	background: #CC4600;
}


@media screen {
	.file-view {
		display: none;
	}
}

@media print {
	.mobile-view {
		display: none;
		-webkit-print-color-adjust: exact;
	}
}

